/* General */

/* comfortaa-regular - latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/comfortaa-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/comfortaa-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/comfortaa-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/comfortaa-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/comfortaa-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/comfortaa-v30-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
  }
  /* comfortaa-600 - latin */
  @font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/comfortaa-v30-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/comfortaa-v30-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/comfortaa-v30-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/comfortaa-v30-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/comfortaa-v30-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/comfortaa-v30-latin-600.svg#Comfortaa') format('svg'); /* Legacy iOS */
  }
  /* comfortaa-700 - latin */
  @font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/comfortaa-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/comfortaa-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/comfortaa-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/comfortaa-v30-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/comfortaa-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/comfortaa-v30-latin-700.svg#Comfortaa') format('svg'); /* Legacy iOS */
  }

  /* amatic-sc-regular - latin */
@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/amatic-sc-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/amatic-sc-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/amatic-sc-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/amatic-sc-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/amatic-sc-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/amatic-sc-v15-latin-regular.svg#AmaticSC') format('svg'); /* Legacy iOS */
  }
  /* amatic-sc-700 - latin */
  @font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/amatic-sc-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/amatic-sc-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/amatic-sc-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/amatic-sc-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/amatic-sc-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/amatic-sc-v15-latin-700.svg#AmaticSC') format('svg'); /* Legacy iOS */
  }

body {
    margin: 0;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.6rem;
    background: white;
    color: #414042;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 50px;
    line-height: 3rem;
    font-weight: 200;
}

section {
    max-height: 800px;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

/* Loader */
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 1;
    background-color: #fff;
    z-index: 99;
    text-align: center;
  }
  
  #loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
  }

  @media screen and (max-width:768px){
    #loading-image {
        top: 40%;
        left: 40%;
      }
  }

  /* Back To Top*/
  #back-to-top{
      position: fixed;
      right: 2rem;
      bottom:2rem;
      width: 40px;
      height: 40px;
      display: none;
      z-index: 10000;
  }

/* MOBILE MENU */

.mobile-menu.show {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #4D4D4D !important;
    margin-top: 1rem;
    transform: translateY(2.4rem);
    z-index: 1;
    transition: .3s ease all;
}

.mobile-menu.hide {
    top: -150vh;
    transition: .3s ease all;
    position: absolute;
}

nav#mobile-nav ul {
    list-style: none;
    padding: 1rem;
}

nav#mobile-nav ul li {
    border-bottom: 1px solid rgb(86, 84, 84);
}

nav#mobile-nav a {
    text-decoration: none;
    display: block;
    color: white;
    border-bottom: 3px solid transparent;
    font-size: 26px;
    padding-top: 1rem;
    width: fit-content;
    transition: .3s ease color;
}

nav#mobile-nav a:hover {
    color: #30b0cc;
    border-bottom: 3px solid #30b0cc;
    transition: .3s ease color;
}


/* HEADER */

header {
    display: flex;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    transition: background-color .4s linear;
}

.content-centered {
    margin: 0 auto;
    padding: 0 20px;
    width: 92%;
    background-color: #fff;
}

#header-nav {
    border-radius: 0 0 20px 20px;
    float: left;
    width: 90%;
    height: 100px;
    padding: 0;
    padding: 0rem 3rem;
    background-color: #4d4d4d;
    background-image: url(/img/background-image-header.png);
    background-repeat: repeat;
    background-position: center;
    display: flex;
    align-items: center;
    z-index: 100;
}

.container-logo {
    width: 120px;
    display: inline-block;
}

.container-logo .logo {
    display: inline;
    width: 100%;
}

#menu-principal {
    display: inline-block;
}

header ul {
    margin: 0;
    list-style: none;
}

header li {
    padding-right: 30px;
    float: left;
}

nav#primary-nav a {
    text-decoration: none;
    padding: 30px 0;
    display: block;
    color: white;
    border-bottom: 3px solid transparent;
    font-weight: 700;
    transition: .3s ease all;
}

nav#primary-nav a:hover {
    color: #30b0cc;
    border-bottom: 3px solid #30b0cc;
    transition: .3s ease all;
}

div#social-nav {
    display: inline-block;
    margin-top: 1.3rem;
}

.social-icon-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #4d4d4d;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
    transition: .3s ease all;
}

.social-icon-desktop:hover {
    box-shadow: none;
    transition: .3s ease all;
}

.social-icons-mobile {
    display: flex;
    justify-content: center;
    bottom: 8rem;
    left: 0;
    right: 0;
    position: absolute;
}

.social-icon-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.6);
    transition: .3s ease all;
    margin: 1rem;
}

.social-icon-mobile:hover {
    box-shadow: none;
    transition: .3s ease all;
}

div#social-nav .social-icon {
    padding-right: 10px;
}

.container-menu-mobile {
    display: none;
}


/* ----------------------------------------------------------------- */


/* Start Header */


/* End Header */


/* Start Main Section */

div.container .main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 55% 45%;
}

div.container .main .col-left {
    position: relative;
    display: flex;
    justify-content: center;
}

div.container .main .col-left .box {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: auto;
    width: calc(10rem + 20vw);
    min-height: 650px;
    background: #197377;
    background: linear-gradient(#737d80, #197377);
    border-radius: 50px;
    transform: translateY(-5rem);
}

div.container .main .col-left .box .container-phone {
    position: relative;
    background-image: url(/img/container-phone_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 350px;
    height: 650px;
    border-radius: 40px;
    z-index: 1000;
    transform: translateY(8rem);
}

.splide__slide {
    /* margin-top: 10rem; */
    width: 350px;
    height: 650px;
}

.splide__arrow {
    transform: translateY(-25%) !important;
    width: 40px !important;
    height: 40px !important;
    opacity: 1 !important;
    background-color: #fff !important;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
    transition: .3s ease all;
}

.splide__arrow:hover {
    box-shadow: none;
    transition: .3s ease all;
}

.splide__arrow--next {
    right: -1rem !important;
}

.splide__arrow--prev {
    left: -1rem !important;
}

.splide__pagination__page {
    display: none !important;
}

div.container .main .col-left .box .container-phone .phone {
    margin: auto;
    margin-top: 8rem;
    transform: translateY(3rem);
    width: 95%;
    height: 80%;
}

div.container .main .col-left .box .container-phone .arrow {
    position: absolute;
    width: 45px;
    height: 45px;
    z-index: 100;
    bottom: 43%;
}

div.container .main .col-left .box .container-phone .arrow.left {
    left: -15px;
}

div.container .main .col-left .box .container-phone .arrow.right {
    right: -15px;
}

div.container .main .col-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

div.container .main .col-right .small-text {
    font-family: 'comfortaa';
    font-size: 15px;
    color: #30B0CC;
    font-weight: 200;
    margin-top: 2rem;
}

div.container .main .col-right h2 {
    margin-top: 5rem;
    width: 70%;
    max-width: 320px;
}

div.container .main .col-right .btn-contact {
    margin: 5rem 0rem 4rem 0rem;
    font-family: 'comfortaa';
    color: #fff;
    background-color: #30B0CC;
    border: none;
    font-size: 16px;
    padding: .5rem 1rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid #30B0CC;
    cursor: pointer;
    transition: .3s ease all;
}
.content-column-right {
    padding-top: 2rem;
}
.btn-contact.mobile {
    display: none;
}

div.container .main .col-right .btn-contact:hover {
    background: white;
    color: #30B0CC;
    transition: .3s ease all;
}

.bybavia {
    margin-top: 3rem;
}


/* End Main Section */


/* Start How works? */

section.howworks-mobile {
    display: none
}

section.howworks {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    background-color: #30B0CC;
    min-height: 700px;
}

section.howworks .col-1,
section.howworks .col-2,
section.howworks .col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.howworks .col-1 .circle {
    background: url(/img/left-circle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
}

section.howworks .col-2 img {
    width: 45%;
}

section.howworks .col-2 {
    position: relative;
}

section.howworks .col-2 h2 {
    position: absolute;
    top: 4rem;
    font-weight: 200;
    color: #fff;
    white-space: nowrap;
}

section.howworks .col-3 .circle {
    background: url(/img/right-circle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    width: 90%;
    height: 90%;
}


/* End How works? */


/* Start Images */

section.imgs {
    position: relative;
    background-color: #fff;
    min-height: 700px;
    height: 100vh;
}

section.imgs .img-1 {
    position: absolute;
    width: 70%;
    left: 15%;
    top: -3rem;
    max-height: 600px;
    max-width: 1200px;
}

section.imgs .img-2 {
    position: absolute;
    width: 35%;
    left: 30%;
    top: calc(27rem + 1vw);
    max-height: 400px;
    max-width: 650px;
}

section.imgs .img-3 {
    position: absolute;
    right: 11rem;
    top: 25rem;
    width: 16%;
}


/* End Images */


/* Start Methods */

section.methods {
    background: linear-gradient(#0088AE, #00A9D9);
    height: 100vh;
    min-height: 600px;
    display: grid;
    grid-template-columns: 50% 50%;
}

section.methods .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

section.methods .col-1 .hand {
    position: absolute;
    bottom: -3rem;
    right: 0rem;
    width: 550px;
}

section.methods .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.methods .col-2 h2 {
    color: #fff;
    width: 450px;
}

section.methods .col-2 .payment {
    margin-top: 4rem;
}


/* End Methods */


/* Start Benefits */

section.benefits {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 600px;
    height: 100vh;
}

section.benefits .col-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
}

section.benefits .col-1 .smile {
    position: absolute;
    top: -5rem;
    right: -5.3rem;
}

section.benefits .col-1 h2 {
    color: #000;
    padding-left: 1rem;
}

section.benefits .col-1 ul {
    width: 400px;
}

section.benefits .col-1 ul li {
    color: #30B0CC;
    font-family: 'comfortaa';
    font-size: 16px;
    list-style-type: circle;
    list-style-image: url(/img/circle-li.png);
    line-height: 1.4rem;
    margin-top: 1rem;
    font-weight: 700;
}

section.benefits .col-1 ul li:first-child {
    margin-top: 0rem;
}

section.benefits .col-1 ul li::marker {
    display: none !important;
}

section.benefits .col-2 {
    background-image: url(/img/background-benefits.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* End Benefits */


/* Start Contact */

section.contact {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    background: linear-gradient(#00A9D9, #0088AE);
}

section.contact .col-1 {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

section.contact .col-1 .tabla-precios table {
    font-family: 'comfortaa';
    font-size: 16px;
    border-radius: 10px;
    color: #000;
    border-spacing: 0;
    width: 120%;
}

section.contact .col-1 .tabla-precios table tr th {
    background-color: #4D4D4D;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section.contact .col-1 .tabla-precios table tr:last-child td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 0px 0px 10px 10px;
}

td,
th {
    text-align: center;
    padding: 1.25rem;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #F2F2F2;
}

tr:first-child{
    background-color: transparent;
}
tr:last-child{
    background-color: transparent;
    border-radius:10px ;
}
tr:last-child td{
    background-color: #dddddd;
    border-radius:10px ;
}
section.contact .col-2 {
    padding: 6rem;
    padding-right: 1rem;
}

section.contact .col-2 h2 {
    color: #fff;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

section.contact .col-2 .name,
section.contact .col-2 .mail,
section.contact .col-2 .phone {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    padding-left: 1rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

section.contact .col-2 .btn-start {
    height: 50px;
    min-width: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 0rem 1rem;
    font-family: 'comfortaa';
    font-size: 16px;
    color: #30B0CC;
    cursor: pointer;
    transition: .3s ease all;
}

section.contact .col-2 .btn-start:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: #219bc7;
    transition: .3s ease all;
}

section.contact .col-2 .name::placeholder,
section.contact .col-2 .mail::placeholder,
section.contact .col-2 .phone::placeholder {
    font-family: 'comfortaa';
    font-size: 16px;
    color: #fff;
}

section.contact .col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0rem;
    margin-left: -2rem;
}

section.contact .col-3 h2 {
    color: #fff;
    margin-bottom: 2rem;
}

.btn-whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ec343;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
    transition: .3s ease all;
}

.btn-whatsapp:hover {
    box-shadow: none;
    transition: .3s ease all;
}


/* End Contact */

.footer {
    background-color: #0088AE;
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    padding: 0rem 0rem 2rem 0rem;
}

.footer .col {
    margin: auto;
    font-family: 'comfortaa';
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.footer .col .logo {
    display: inline-block;
    width: 17%;
    transform: translateY(6px);
}

.container-msj {
    position: relative;
}

.success-msj {
    border: 2px solid #000;
    padding: 0.5rem .6rem;
    border-radius: 5px;
    background-color: #00cd53;
    color: #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: absolute;
    display: none;
}

.error-msj {
    border: 2px solid #000;
    padding: 0.5rem .6rem;
    border-radius: 5px;
    background-color: #ba1515;
    color: #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: absolute;
    display: none;
}

@media screen and (max-width: 465px) {
    .footer {
        padding-top: 5rem;
    }
}

@media screen and (max-width:768px) {
    section.howworks {
        display: none;
    }
    section.howworks-mobile {
        display: block;
        margin: auto;
        text-align: center;
        background-color: #30B0CC;
    }
}

@media screen and (max-width:960px) {
    /*Header*/
    #menu-principal {
        display: none;
    }
    .container-menu-mobile {
        display: block;
    }
    .container-menu-mobile .menu-mobile-button {
        position: absolute;
        top: 1rem;
        right: 2rem;
        background-image: url(/img/menu-icon.png);
        height: 30px;
        width: 30px;
        background-size: contain;
        background-color: transparent;
        outline: none;
        border: 0;
    }
    #header-nav {
        width: 100vw !important;
        height: 70px;
        padding:0rem 2rem;
    }
    .content-centered {
        padding: 0 !important;
        width: 100%;
        background-color: transparent;
        position: fixed;
        top: 0;
    }
    /*Main Section*/
    div.container {
        margin-top: 5rem !important;
    }
    div.container .main {
        display: block;
        min-height: 850px;
    }
    section.imgs,
    #social-nav {
        display: none !important;
    }
    div.container .main .col-left {
        height: 350px;
    }
    div.container .main .col-left .box {
        position: relative;
        width: 100vw;
        border-radius: unset;
        transform: translateY(-7rem);
        min-height: 400px !important;
    }
    div.container .main .col-right {
        text-align: center;
        height: auto;
        max-height: 300px !important;
    }
    div.container .main .col-left .box .container-phone {
        position: relative;
        background-image: url(/img/container-phone_1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 180px;
        height: 400px;
        border-radius: 40px;
        z-index: 1000;
        transform: translateY(2rem);
    }

    .splide__slide {
        /* margin-top: 10rem; */
        width: 180px !important;
        height: 398px;
        transform: translateX(0px);
    }
    div.container .main .col-right .small-text {
        margin-bottom: 6rem;
        margin-top: 0rem;
    }
    div.container .main .col-right h2 {
        font-size: 35px;
        width: 55%;
    }
    div.container .main .col-right h2,
    .bybavia {
        margin: auto;
    }
    div.container .main .col-right .btn-contact {
        margin: 2rem 0rem 3rem 0rem !important;
    }
    .btn-contact.desktop {
        display: none;
    }
    .btn-contact.mobile {
        display: inline;
    }
    div.container .main .col-left .box .container-phone .arrow {
        top: 57%;
        bottom: unset;
    }
    /*Methods*/
    section.methods {
        display: grid;
        grid-template-columns: none !important;
        grid-template-rows: 50% 50%;
        min-height: 720px;
        padding-top: 5rem;
    }
    section.methods .col-1 {
        padding-bottom: 6rem;
        padding-left: 3rem;
        overflow: hidden;
    }
    section.methods .col-1 .method {
        width: 80vw;
    }
    section.methods .col-1 .hand {
        width: 350px;
        bottom: -4rem;
        position: relative;
    }
    section.methods .col-2 {
        grid-row: 1;
        padding-top: 4rem;
    }
    section.methods .col-2 h2 {
        font-size: 35px;
        width: 85vw;
        text-align: center;
        margin: auto;
        line-height: 2.5rem;
    }
    section.methods .col-2 .payment {
        width: 80vw;
        max-width: 400px;
        margin: auto;
        margin-bottom: 3rem;
        margin-top: 4rem;
    }
    /*Benefits*/
    section.benefits {
        max-height: 500px;
        padding-top: 3rem;
    }
    section.benefits .col-1 .smile {
        left: 0;
        right: 0;
        margin: auto;
    }
    section.benefits .col-1 {
        padding: 2rem;
        width: 100vw;
    }
    section.benefits .col-1 ul {
        width: 80vw;
    }
    section.benefits .col-1 h2 {
        padding: 0 !important;
        width: 100%;
        text-align: center;
    }
    section.benefits .col-2 {
        display: none;
    }
    /* Contact */
    section.contact {
        display: flex;
        flex-direction: column;
        max-height: 1000px;
    }
    section.contact .col-1 {
        margin: auto;
    }
    section.contact .col-2 {
        padding: 3rem 1rem;
    }
    section.contact .col-2 h2 {
        font-size: 35px;
        width: 80vw;
        margin: auto;
        text-align: center;
    }
    section.contact .col-2 .name,
    section.contact .col-2 .mail,
    section.contact .col-2 .phone {
        width: 80vw;
        margin: auto;
        margin-bottom: 1rem;
    }
    section.contact .col-2 .phone {
        margin-top: 0rem;
    }
    section.contact .col-2 .contact-form {
        text-align: center;
        margin: 3rem 0rem;
    }
    section.contact .col-3 {
        padding: 0;
        margin: auto;
        padding-bottom: 3rem;
        padding-top: 1rem;
    }
    section.contact .col-3 h2 {
        font-size: 35px;
        width: 100% !important;
    }
    /* .button-whatsapp{
        transform: none !important;
    } */
    section.contact .col-1 .tabla-precios table,
    section.contact .col-2,
    section.contact .col-3 {
        transform: translateY(-10rem);
    }
    /* Footer */
    .footer {
        display: block;
    }
    .footer .col {
        padding-top: 1rem;
    }
    .footer .col:nth-child(odd) {
        color: #4d4d4d;
    }
    .footer .col .logo {
        width: 17%;
        transform: translateY(4px);
    }
    .container-msj {
        position: relative;
        text-align: center;
        transform: translateY(-3rem);
    }
    .success-msj {
        border: 2px solid #000;
        padding: 0.5rem .6rem;
        border-radius: 5px;
        background-color: #00cd53;
        color: #000;
        width: 90vw;
        left: 0;
        display: none;
    }
    .error-msj {
        border: 2px solid #000;
        padding: 0.5rem .6rem;
        border-radius: 5px;
        background-color: #ba1515;
        color: #000;
        width: 90vw;
        left: 0;
        display: none;
    }
}

@media screen and (min-width:960px) and (max-width:1120px) {
    #header-nav {
        width: 83%;
    }
    
    div.container .main .col-right .small-text {
        margin-top: 2rem;
    }
    div.container .main .col-right button {
        margin-bottom: 0rem;
    }
    section.imgs .img-2 {
        top: calc(17rem + 1vw);
    }
    section.imgs .img-3 {
        right: 5rem;
        top: 13rem;
    }
    section.methods .col-1 .hand {
        width: 90%;
        transform: translate(1rem, -3rem);
    }
}


@media screen and (min-width:1121px) and (max-width:1550px) {
    #header-nav {
        width: 86%
    }
    /* section.methods .col-1 .hand {
        position: absolute;
        bottom: -1rem;
        right: -1rem;
        width: 500px;
        transform: translate(-4rem, 0rem);
    } */
    div.container .main {
        gap: 2rem;
    }
    div.container .main .col-right .small-text {
        margin-top: 2rem;
    }
    section.imgs .img-1 {
        position: absolute;
        width: 70%;
        left: 15%;
        top: -3rem;
    }
    section.imgs .img-2 {
        position: absolute;
        width: 45%;
        left: 20%;
        top: calc(14rem + 11vw);
    }
    section.imgs .img-3 {
        position: absolute;
        right: 2rem;
        top: 17rem;
        width: 18%;
    }
}

@media screen and (min-width:960px) {
    div.container .main .col-left .box .container-phone .phone {
        margin-top: 0;
        height: 100%;
        width: 100%;
        transform: translateY(2rem);
    }
}

@media screen and (min-width:550px) and (max-width:960px) {
    .footer .col .logo {
        width: 10%;
    }
}

@media screen and (min-width:2000px) {
    section.howworks {
        min-height: 850px;
    }

    section.howworks .col-2 h1 {
        top: 1rem;
        font-size: 60px;
    }
}

@media screen and (min-width:1440px) {
    div.container .main .col-left .box {
        border-radius: 50px;
        transform: translateY(-5rem);
    }
    div.container .main .col-left .box .container-phone .arrow {
        bottom: 25%;
    }
    .content-column-right {
        padding-top: 2rem;
    }
    div.container .main .col-left .box .container-phone {
        
    }
    div.container .main .col-right .btn-contact {
        margin: 5rem 0rem 4rem 0rem;
    }
}

@media screen and (min-width:960px) and (max-width:1440px){

    div.container .main .col-left .box {
        min-height:480px;
    }

    div.container .main .col-left .box .container-phone {
        position: relative;
        background-image: url(/img/container-phone_1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 210px;
        height: 430px;
        border-radius: 40px;
        z-index: 1000;
        transform: translateY(8rem);
    }

    .splide__slide {
        /* margin-top: 10rem; */
        width: 215px !important;
        height: 430px;
        transform: translateX(-2px);
    }
}
@media screen and (max-width: 1440px) {
    section.contact .col-1 .tabla-precios table {
        width: 100%;
    }
    section.contact .col-1 {
        justify-content: flex-end;
    }
    section.contact {
        grid-template-columns: 30% 35% 35%;
    }
    section.contact .col-3 h2 {
        width: 60%;
    }

    div.container .main .col-right .btn-contact {
        margin: 1rem 0rem 1rem 0rem;
    }
    /* .button-whatsapp {
        transform: translateX(-2rem);
    } */

}


/* Mobile Devices Slider */

.howworks-mobile .swiper-container {
    width: auto;
    height: auto;
}

.howworks-mobile .swiper-container .swiper-slide,
.howworks-mobile .swiper-container-android .swiper-slide {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
}

.howworks-mobile .swiper-pagination-bullet {
    background: #fff !important;
    margin-right: 1rem !important;
    transform: translateY(1rem);
}

.howworks-mobile .swiper-pagination-bullet:last-child {
    margin-right: 0rem !important;
}

section.howworks-mobile .title {
    color: #fff;
    font-size: 50px;
    font-weight: 200;
}

section.howworks-mobile {
    max-height: auto !important;
    padding: 3rem 0rem;
}